* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide {
    display: none;
}

/* Style for the product content wrapper */
.products-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product-content {
    margin: 2rem;
}
  .product-content img {
     max-width: 300px; 
     height: auto; 
    margin-right: 10px;
  }
  .product-name {
    font-size: 1.3rem;
  }
  .pro-price h3 {
    font-size: 1rem;
  }
  .pro-price p {
    font-size: .9rem;
    font-weight: 500;
}
/* nav baar  */
nav {
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-text {
    display: inline-block;
    margin-left: 20px;
}

.nav-text img {
    width: 110px;
    height: 36px;
    object-fit: contain;
}

.second {
    display: inline-block;
    position: absolute;
    top: 36px;
    left: 30px;
    color: white;
}

.second span {
    color: gold;
}

.second img {
    width: 11px;
    position: relative;
    top: -4px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    right: 40px;
}

ul li {
    list-style: none;
}

nav input {
    width: 60%;
    padding: 10px;
    margin-left: 20px;
}

#search-icon {
    position: relative;
    right: 25px;
    top: -1px;
    cursor: pointer;
    color: blue;
}

nav #menu {
    display: none;
}

#login-btn {
    padding: 10px 40px;
    color: blue;
}
.remove {
    display: none
}
#nav-btn {
    background-color: #2874f0;
    color: white;
    border: none;
}

ul.dropdown-menu {
    min-width: 230px;
}

.dropdown button:hover {
    background-color: #2874f0;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

li i {
    color: blue
}

#second-icon {
    padding-right: 10px;
    color: white;
}

/* section-head  */

section.head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.head-img img {
    height: 60px;
    width: 65px;
    display: flex;
    flex-direction: column;
    margin: 10px 35px;
    cursor: pointer;
}

.head-img a {
    text-decoration: none;
    color: black;
}

#fashion-btn {
    background-color: white;
    color: black;
    list-style: none;
    border: none;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.dropdown-item:hover {
    color: blue;
}

#fashion-dropdown {
    width: 310px;
}

/* section 1  */
#section-1 {
    margin-top: 10px;
}

#section-2 {
    margin-top: 10px;
    display: none;
}

#section-3 {
    display: none;
}

#sect {
    display: none;
}

.product-list {
    background-color: white;
    cursor: pointer;
    margin: 10px 10px 20px 0px;
}

.main-head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 10px 1px lightgray;
    padding: 6px 0px;
}

.product-list img {
    width: 190px;
    height: 160px;
    object-fit: contain;
}

.product-details {
    padding: 0 10px;
    font-weight: 800;
}

.product-discount {
    padding: 0 10px;
    color: green;
    margin-top: 6px;
}

.other-details {
    padding: 0px 10px;
    margin-top: 6px;
    color: grey;
}

.container {
    display: flex;
    justify-content: right;
    margin-right: 6px;
}

.container .offer {
    position: absolute;
    left: 0;
    height: 239px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    top: 400px;
}

.container .offer button {
    background-color: rgba(0, 0, 255, 0.675);
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
}

/* banner-1 css  */
#beauty-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 32%;
    height: 260px;
    padding: 0 10px;
    background-image: linear-gradient(lightcyan, lightyellow);
    cursor: pointer;
}

.beauty-img img {
    height: 160px;
    width: 185px;
    mix-blend-mode: darken;
    object-fit: contain;
}

.beauty-detail p {
    color: grey;
    margin-top: 10px;
}

.beauty-detail h2 {
    margin-top: 10px;
}

.beauty-detail h2 span {
    color: green;
}

.carousel {
    background: #EEE;
    margin-top: 10px;
    margin-bottom: 25px;
}

.carousel-cell {
    width: 70%;

    border-radius: 5px;
    counter-increment: carousel-cell;
}

.caro {
    height: 200px;
    width: 100%;
}

/* footer  */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #172337;
    padding: 40px 50px;
    margin-top: 21px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    width: 54%;
}

.main-footer h6 {
    color: #878787;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 13px;
}

.main-footer a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-top: 6px;
    margin-left: 10px;
    font-weight: 600;
}

.main-footer a:hover {
    text-decoration: underline;
}

.line {
    width: 2px;
    height: 150px;
    background-color: white;
    position: relative;
    top: 24px;
    margin-right: 20px;

}

/* hr and bottomline  */
.bottom-line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #172337;
    color: white;
    padding: 20px 30px;
}

.bottom-line p {
    margin: 0px;
}

hr {
    margin: 0;
    padding: 0;
    border-color: white;
}

.other-container h6 {
    color: #878787;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 13px;
}

.other-container p {
    color: white;
    font-size: 12px;
    padding: 15px 15px 15px 0;
    margin-left: 10px;
    font-weight: 600;
}

.other-container #para-2 {
    padding: 15px 30px 30px 0;
}

/* product-list  */
.main-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 20px 6px lightgray;
    padding: 6px 0px;
}

.main-head a {
    text-decoration: none;
    color: black;
}

.btn {
    border: none;
}

#listbtn {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.699);
    background-color: white;
    font-weight: 600;
}

#flt-btn1 {
    background-color: white;
    color: black;
}

.dropdown button:hover {
    color: blue;
    background-color: white;
}

#flt-btn {
    background-color: white;
    color: black;
}

#flt-btn:hover {
    color: blue;

}

/* sub - details  */
.sub-details {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 10px;
}

.sub-details p {
    margin-bottom: 10px;
}
.top-details h6, h5, p {
    cursor: pointer;
}
.top-details h5,
h6 {
    margin-top: 6px;
    margin-left: 10px;
}

.filters h5 {
    margin: 6px;
}

.pro-container {
   box-shadow: 2px 2px 10px 2px whitesmoke;
   margin-top: 1rem;
   margin-right: 1rem;
   width: 19vw;
}

.pro-container img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

#right-image {
    height: 20px;
    width: 51px;
    margin-left: 10px;
}

/* pro- info  */
section.overall {
    display: flex;
    justify-content: center;
}

.main-con {
    width: 35%;
    border-right: 1px solid lightgray;
    box-shadow: 0px 0px 10px 1px lightgray;
}

.pro-info {
    display: flex;
    justify-content: left;
    /* border: 2px solid black; */
    width: 100%;
}

.pro-info i {
    margin: 10px;
    display: block;
    border: 1px solid gray;
    border-radius: 50%;
}

.left-images {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.left-images img {
    height: 90px;
    width: 90px;
    object-fit: contain;
}

.left-images img:hover {
    border: 2px solid blue;
}

#heart {
    border: 2px solid black;
    position: relative;
    top: 6px;
    left: 0px;
    border-radius: 50%;
    padding: 10px;
    border-color: lightgray;
    background-color: whitesmoke;
    color: gray;
    cursor: pointer;
}


#onlyvans {
    height: 75%;
    width: 100%;
    object-fit: contain;
    position: relative;
    top: 61px;
    left: 30px;
}

.buttons {
    width: 100%;
    margin: 10px 0px;
    /* border: 2px solid black; */
}

button {
    /* width: 45%; */
    /* height: 60px; */
    margin: 0px 10px;
    color: white;
    border-radius: 3px;
}

.buttons button i {
    padding: 10px;
}

button.btn-1 {
    background-color: #ffe11b;
    width: 45%;
    height: 60px;

}

button.btn-2 {
    background-color: #ff9f00;
    width: 45%;
    height: 60px;
}

/* shoesdetails  */
.shoesdetails {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 15%;
    margin-left: 10px;
    box-shadow: 0px 1px 10px 4px lightgray;
}

/* .filters #flt-bt */
.wrapper {
    width: 94%;
    margin-left: 10px;
    box-shadow: 2px 2px 10px 4px lightgray;
    margin: 1rem auto;
}
#top-line {
    border-color: black;
    margin: 0;
    padding: 0;
}





/* pro-details-1  */
.pro-details-1 {
    width: 55%;
    margin-left: 20px;
    border-left: 1px solid lightgray;
    padding: 20px 0px 0px 30px;
    box-shadow: 0px 0px 10px 1px lightgray;
}

.pro-details-1 img {
    height: 22px;
    width: 75px;
}

.pro-details-1 p span {
    color: blue;
}

.pro-details-1 #share {
    float: right;
}

.pro-details-1 #share i {
    margin-right: 8px;
    color: lightgray;
}

/* shoes-c0lors  */
.shoe-colors {
    margin: 20px 30px 0 0;
}

.shoe-img img {
    width: 85px;
    height: 80px;
    object-fit: contain;
    margin-right: 10px;
}

.shoe-img #gray {
    color: gray;
}

.shoe-img #blue {
    color: blue;
}

.shoe-size {
    margin-top: 20px;
}

.shoe-size strong {
    border: 1px solid lightgray;
    padding: 10px 18px;
    box-shadow: 0px 0px 1.5px 0px;
    margin-right: 10px;
}

#share {
    position: relative;
    right: 20px;
}

#compare {
    position: absolute;
    right: 175px;
}

.square {
    position: absolute;
    right: 250px;
    top: 171px;
}

/* login page  */
div.main-div {
    display: flex;
    height: 100vh;
    border: 2px solid black;
    background-image: linear-gradient(purple, orangered);
    align-items: center;
    justify-content: center;
}

.login-left {
    background-color: #2874f0;
    height: 70%;
    width: 18%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.login-left h1 {
    color: white;
    padding: 40px;
    font-size: 36px;
}

.login-left h4 {
    color: white;
    padding: 0 40px;
    font-size: 20px;
}

.login-right {
    background-color: white;
    height: 70%;
    width: 30%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.right-info {
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 10px;
}

.right-info input {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    border-bottom: 2px solid #2874f0;
}

.right-info input::-webkit-inner-spin-button,
.right-info input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.right-info p {
    padding: 0 30px;
    margin: 20px 0px 0px 0px;
    width: 100%;
    font-size: 14px;
}

.right-info p span {
    color: blue;
    cursor: pointer;
}

#continue {
    width: 80%;
    margin: 0px 30px 10px;
    color: white;
    background-color: #fb641b;
    ;
    border: none;
    margin-top: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px lightcoral;
    padding: 15px 20px;
    font-weight: 500;
}

#existing-user {
    width: 80%;
    margin: 10px 30px;
    color: blue;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px lightgray;
    padding: 15px 20px;
    font-weight: 500;
}

/* buynow page                          */
.buynow {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;

}

.page-container {
    width: 66%;
}

.login-page {
    /* border: 1px solid blue; */
    width: 100%;
    margin-bottom: 15px;
    margin-top: 30px;
    box-shadow: 1px 0px 4px 0px lightgray;
}

.inside-log {
    background-color: #2874f0;
    color: white;
    font-weight: 600;
    padding: 10px 0px;
}

.inside-log span {
    padding: 2px 7px;
    background-color: white;
    color: blue;
    border-radius: 2px;
    margin-right: 30px;
    margin-left: 8px;
}

.login-page input {
    margin: 20px 0px;
}

.add-form {
    /* border: 1px solid red; */
    width: 60%;
    margin-left: 60px;
}

.add-form .size {
    width: 49.5%;
    padding: 8px 16px;
}

.add-form textarea {
    width: 100%;
}

#add-col {
    background-color: rgba(110, 166, 184, 0.144);
}

.buy-btn {
    background-color: #ff9f00;
    width: 45%;
    height: 60px;
    border: none;
    margin-bottom: 10px;
    font-weight: 600;
}

.buy-btn2 {
    background-color: transparent;
    color: #2874f0;
    width: 45%;
    height: 60px;
    border: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-form input {
    outline: none;
    border-color: 1px solid whitesmoke;
}

.summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.item-img img {
    width: 145px;
    height: 190px;
    object-fit: contain;
}

.item-img p {
    margin-top: 20px;
    margin-left: 10px;
}

.item-img p span {
    height: 28px;
    width: 28px;
    padding: 7px;
    border: 1px solid #c2c2c2;
    margin: 0px 3px;
    background: linear-gradient(#fff, #f9f9f9);
    line-height: 1;
}

.item-img p #circle {
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: 600;
}

.item-img p #rectangle {
    padding: 4px 15px;
    font-weight: 600;
}

.item-details img {
    height: 50px;
    width: 60px;
    object-fit: contain;
}

.item-details p {
    margin: 0px;
    font-size: 1.2rem;
}

.item-details span {
    color: forestgreen;
}

.item-details button {
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
    margin: 0;
}

.right-details {
    margin-left: 85px;
    position: relative;
    bottom: 65px;
    right: 20px;
}

.item-details {
    margin-left: 45px;
}

.login-page h6 {
    margin: 20px 10px;
}

.rightside {
    margin-left: 20px;
    margin-top: 30px;
    width: 30%;
    box-shadow: 1px 0px 4px 0px lightgray;
    height: 245px;

}

.rightside h5 {
    padding: 10px 20px;
}

#newhr {
    border-color: gray;
    margin: 0;
    padding: 0;
}

.price-det h6 {
    padding: 3px 20px;
    margin: 10px 0px;
}

.price-det h6 span {
    position: relative;
    left: 220px;

}

.price-det h6 #greencol {
    position: relative;
    left: 193px;
    color: green;
}

.rightside h5 span {
    position: relative;
    left: 185px;
}

.rightside #last {
    padding: 20px;
    color: green;
}
.showPassword {
    display: none;
}
.hidePassword {
    display: none;
}
.input-box {
    position: relative;
}
.icon-container {
    position: absolute;
    bottom: 1.3rem;
    right: .5rem;
}
.input-box input:focus + .icon-container {
    bottom: 2.5rem; /* Adjust this value as needed */
}
.remarks {
    color: red;
    text-align: center;
}
/*---------------------------------------------           Cart Page ---------------------------------------------------------*/
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 6rem;
    margin-top: 6rem;
    box-shadow: 3px 3px 6px whitesmoke;
    padding: 6px;
}
.sub-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-cart img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.pro-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart-count {
    margin-left: .5rem;
    border: 1px solid gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.remove-cart-item {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

/* responsive design for ipad screens */
/* index page  */
@media screen and (max-width: 1281px) {
/* @media screen and (max-width: 811px) { */
    .nav-text img {
        width: 68px;
        height: 30px;
    }

    .second {
        top: 35px;
        left: 28px;
        font-size: 12px;
    }

    #star {
        width: 9px;
    }

    nav input {
        width: 50%;
        margin-left: 20px;
        position: relative;
        left: 30px;
    }

    #search-icon {
        position: relative;
        right: -4px;
        top: 1px;
    }

    nav ul {
        justify-content: center;
        position: relative;
        right: 10px;
    }

    nav ul li {
        margin-right: 1px;
    }

    #login-btn {
        padding: 6px 28px;
    }
  
    ul a {
        font-size: 1.0rem;
    }

    .head-img img {
        height: 40px;
        width: 40px;
        margin: 10px 10px;
    }

    #fashion-btn {
        margin: 0px 8px;
        padding: 0px;
        font-size: 12px;
    }

    .head-img a {
        font-size: 12px;
        margin: 0px 5px;
    }

    .btn-img {
        position: relative;
        left: 6px;
    }

    /* beauty-section */
    #beauty-section {
        justify-content: space-evenly;
    }

    .main-container {
        width: 32%;
        height: 254px;
    }

    .beauty-detail h3 {
        font-size: 14px;
    }

    .beauty-detail h2 {
        font-size: 16px;
    }

    .beauty-detail p {
        font-size: 13px;
    }

    .beauty-img img {
        height: 110px;
        width: 110px;
    }

    #section-1 {
        display: none;
    }

    #section-2 {
        display: none;
    }

    #section-3 {
        display: block;
    }

    .bottom-line {
        padding: 15px 10px;
    }

    .bottom-line h6 {
        font-size: 10px;
        margin: 1px;
    }

    .bottom-line p {
        font-size: 10px;
        margin: 0px;
    }

    /* productlist responsive  */
    #listbtn {
        font-size: 9px;
        margin: 0px;
    }

    .main-head {
        gap: 6px;
    }

    .filters {
        width: 20%;
        margin-left: 6px;
    }

    .filters h5 {
        font-size: 14px;
    }

    .filters h6 {
        margin-top: 10px;
        margin-left: 6px;
        font-size: 14px;
    }

    #flt-btn {
        font-size: 12.5px;
    }

    #flt-btn1 {
        font-size: 11px;
    }

    .more {
        margin-left: 6px;
        font-size: 13px;
    }

    .top-details h6 {
        font-size: 13px;
    }

    .top-details h5 {
        font-size: 12px;
    }

    .top-details p {
        font-size: 13px;
    }

    .sub-details {
        gap: 15px;
        margin-left: 10px;
    }

    .sub-details p {
        margin-bottom: 6px;
    }

    .pro-container img {
        height: 150px;
        width: 150px;
    }

    .pro-details {
        width: 49%;
    }

    .pro-details h3 {
        font-size: 12px;
        margin-bottom: 2px;
        padding-top: 4px;
        font-weight: 600;
    }

    .pro-details li {
        font-size: 11px;
    }

    .pro-price h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .pro-price p {
        margin-bottom: 4px;
        font-size: 12px;
    }

    #right-image {
        height: 20px;
        width: 43px;
        margin-left: 15px;
    }

    .wrapper {
        width: 83%;
        margin-left: 4px;
    }

    footer {
        padding: 35px 32px;
        margin-top: 21px;
    }

    .other-container #para-2 {
        padding: 15px 10px 10px 0;
    }

    .main-footer a {
        color: white;
        font-size: 9px;
        padding-top: 6px;
        margin-left: 10px;
        font-weight: 600;
    }

    .other-container p {
        color: white;
        font-size: 9px;
        padding: 15px 15px 15px 0;
        margin-left: 10px;
        font-weight: 600;
    }
}

/* responsive design for mobile screens */
/* index page  */

@media screen and (max-width: 541px) {
    .nav-text img {
        width: 45px;
        height: 30px;
        object-fit: contain;
    }

    .second {
        top: 31px;
        left: 23px;
        font-size: 10px;
    }

    #star {
        width: 13px;
    }

    nav input {
        width: 210px;
        margin-left: -15px;
    }

    #search-icon {
        left: -40px;
        top: 2px;
        font-size: .8rem;
    }
   
    nav ul a {
        color: white;
    }

    #navbar {
        display: none;
    }

    #navbar.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.885);
        position: absolute;
        top: 0;
        right: 0;
        bottom: -250px;
    }

    nav #menu {
        display: block;
        color: white;
        position: relative;
        right: 17px;
        font-size: 21px;
        z-index: 1000;
    }

    nav ul li {
        margin-top: 30px;
        position: relative;
        right: 25px;
    }

    #nav-btn {
        background-color: transparent;
    }

    #login-btn {
        background-color: transparent;
        color: white;
        border: none;
    }

    #login-btn:hover {
        background-color: white;
        color: black;
    }

    .head-img img {
        height: 25px;
        width: 25px;
        margin: 10px 5px;
    }

    .head-img a {
        font-size: 6px;
    }

    .head-img #fashion-btn {
        font-size: 6px;
        margin: 0;
        padding: 0;
        position: relative;
        top: 1.5px;

    }

    .container {
        justify-content: flex-end;
        padding: 0px;
    }

    .container .offer {
        position: absolute;
        left: 0;
        height: 120px;
        width: 84px;
        top: 290px;
        margin-left: 10px;
    }

    .container .offer button {
        padding: 2px 11px;
        margin-top: 2px;
        font-size: 10px;
    }

    .container .offer span {
        font-size: 10px;
    }

    #section-1 {
        display: none;
    }

    #section-3 {
        display: none;
    }

    #section-2 {
        display: flex;
    }

    .product-list {
        margin: 5px;
    }

    .product-list img {
        width: 65px;
        height: 65px;
        object-fit: contain;
    }

    .product-discount {
        font-size: 12px;
    }

    .product-details {
        font-size: 11px;
    }

    .other-details {
        font-size: 12px;
    }

    .main-container {
        width: 32%;
        height: 133px;
        padding: 0 6px;
        margin-left: 10px;
    }

    .beauty-detail h3 {
        font-size: 9px;
        margin-left: 4px;
        margin-top: 10px;
    }

    .beauty-detail h2 {
        font-size: 10px;
        margin-left: 4px;
        margin-top: 10px;
    }

    .beauty-detail p {
        font-size: 9px;
        margin-left: 4px;
        margin-top: 10px;
    }

    .beauty-img img {
        height: 55px;
        width: 50px;
        mix-blend-mode: darken;
        object-fit: contain;
        padding: 0px 2px;
    }

    footer {
        padding: 10px 8px;
    }

    .main-footer h6 {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 9px;
    }

    .main-footer a {
        font-size: 7px;
        font-weight: 600;
    }

    .other-container h6 {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 9px;
    }

    .other-container p {
        color: white;
        font-size: 7px;
        margin: 12px 0px 0px 0px;
        font-weight: 600;
        padding: 2px;
    }

    .other-container #para-2 {
        margin: 12px 2px 0px 2px;
        padding: 2px;
    }

    .bottom-line {
        padding: 10px;
    }

    .bottom-line h6 {
        font-size: 5px;
    }

    .bottom-line p {
        font-size: 5px;
        position: relative;
        top: 4.5px;
    }

    .bottom-line img {
        width: 130px;
        padding: 6px;
    }

    .carousel-cell {
        height: 115px;
        touch-action: pan-y;
    }

    .caro {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }

    /* productlist mobile responsive  */
    nav {
        height: 45px;
    }

    .filters {
        width: 23%;
        margin-left: 6px;
        box-shadow: 0px 1px 10px 4px lightgray;
        margin-top: 6px;
    }

    .product-list {
        margin: 5px 3px;
    }

    .nav-text img {
        width: 40px;
        height: 15px;
    }

    .second {
        top: 31px;
        left: 23px;
        font-size: 8px;
    }

    #star {
        width: 7px;
    }

    nav #menu {
        font-size: 17px;
    }

    nav input {
        width: 227px;
        height: 28px;
        font-size: 12px;
    }

    .filters h5 {
        font-size: 8px;
        margin: 7px 0px 0px 7px;
    }

    #flt-btn {
        font-size: 8px;
    }

    #flt-btn1 {
        background-color: white;
        color: black;
        font-size: 5.9px;
    }

    .more {
        font-size: 9px;
        margin-left: 8px;
    }

    .cust-btn {
        font-size: 6px;
    }

    .top-details h5,
    h6 {
        font-size: 7px;
        margin-top: 6px;
    }

    .sub-details {
        gap: 0px;
        margin-left: 10px;
    }

    .sub-details p {
        margin-bottom: 5px;
        font-size: 7px;
    }

    .wrapper {
        width: 72%;
        margin-left: 3px;
        margin-top: 6px;
    }

    .main-head {
        gap: 0px;
        padding: 0px 0px;
    }

    #listbtn {
        font-size: 5px;
        font-weight: 700;
        margin: 3.5px;
        padding: 0px;
    }

    .pro-container img {
        height: 65px;
        width: 65px;
        object-fit: contain;
        position: relative;
        top: 25px;
        left: 15px;
    }

    .pro-details {
        width: 60%;
        margin-right: 6px;
        padding: 0px;
    }

    .pro-details h3 {
        font-size: 7px;
        margin: 0px;
        padding: 6px 31px;
        font-weight: bold;
    }

    .pro-details ul li {
        font-size: 7px;
        margin: 0px;
        padding: 0px;
    }

    .pro-price h3 {
        font-size: 7px;
        margin-bottom: 2px;
        padding-top: 4px;
    }

    #right-image {
        height: 15px;
        width: 20px;
        margin-left: 10px;
        position: relative;
        top: -2px;
        left: 1px;
    }

    .pro-price p {
        font-size: 7px;
        margin-bottom: 5px;
    }

    footer {
        margin-top: 10px;
    }

    .bottom-line h6 {
        font-size: 7px;
        margin: 1px 10px;
    }

    .bottom-line p {
        font-size: 6px;
        position: relative;
        top: 4.5px;
        margin: 1px 11px;
    }

    /* <--------------------------detailsinfo page---------------------------------> */
    .main-head1 {
        gap: 0px;
        padding: 0px 0px;
    }
    #flt-btn {
        font-size: 5px;
        font-weight: 700;
        margin: 3.5px;
        padding: 0px;
    }
    .left-images {
        margin-top: 7px;
    }
    .left-images img {
        height: 25px;
        width: 25px;
        object-fit: contain;
    }
    section.overall {
        display: flex;
        justify-content: flex-start;
    }
    .main-con {
        width: 30%;
        margin-left: 6px;
    }
    #heart {
        border: 2px solid black;
        position: relative;
        top: 0px;
        left: -33px;
        border-radius: 50%;
        padding: 4px;
        border-color: lightgray;
        background-color: whitesmoke;
        color: gray;
        cursor: pointer;
        font-size: 9px;
    }
    #onlyvans {
        height: 61px;
        width: 60px;
        object-fit: contain;
        position: relative;
        top: 58px;
        left: 2px;
    }
    button.btn-1 i {
        padding: 1px;
        font-size: 6px;
        margin-right: 1px;
    }
    .btn-1 span {
        font-size: 5px;
    }
    button.btn-2 i{
        padding: 1px;
        font-size: 6px;
        margin-right: 1px;


    }
    .btn-1 span {
        font-size: 5px;
        margin: 0px;
    }
    button.btn-1, button.btn-2  {
        font-size: 6px;
        font-family: 800;
        color: white;
        margin: 0px;
    }
    button.btn-1 {
        height: 21px;
        width: 45%;
        margin-left: 3px;
    }
    button.btn-2 {
        height: 21px;
        width: 45%;
        margin: 0px;
    }
    .buttons a {
        width: 51%;
        font-size: 7px;
    }
    .pro-details-1 {
        width: 65%;
        margin-left: 4px;
        border-left: 1px solid lightgray;
        padding: 20px 2px 0px 10px;
        position: relative;
    }
    .pro-details-1 h4 {
        font-size: 13px;
    }
    .pro-details-1 #share i {
        margin-right: 8px;
        color: lightgray;
        position: relative;
        top: 1.5px;
    }
    .square {
        position: absolute;
        right: 121px;
        top: 16px;
        font-size: 10px;
    }
    #compare {
        position: absolute;
        font-size: 10px;
        top: 12px;
        right: 74px;
    }
    #share {
        position: relative;
        right: 13px;
        font-size: 10px;
        bottom: 7px;
    }
    .pro-details-1 p {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .pro-details-1 p span {
        font-size: 10px;
    }
    #flipimg {
        height: 8px;
        width: 28px;
        object-fit: contain;
    }
    .pro-details-1 img {
        height: 30px;
        width: 21px;
        margin-right: 1px;
    }
    .pro-details-1 h5 {
        font-size: 12px;
        margin: 8px 0px;
        font-weight: 600;
    }
    p.para {
        font-size: 8px;
        margin-bottom: 12px;
    }
    .pro-details-1 p .tc {
        font-size: 8px;
    }
    #gray {
        color: gray;
        font-size: 11px;
    }
    #blue {
        color: blue;
        font-size: 7px;
    }
    .shoe-size {
        margin-top: 6px;
        margin-bottom: 10px;
    }
    #shoe-size {
        font-size: 8px;
    }
    .shoe-size strong {
        border: 1px solid lightgray;
        padding: 1px 7px;
        box-shadow: 0px 0px 1.5px 0px;
        margin-right: 3px;
        font-weight: 600;
        font-size: 9px;
    }
}
/* ------------------------------------register responsive------------------------------ */
@media screen and (max-width: 811px) {
    .login-left {
        width: 30%;
    }
    .login-right {
        width: 50%;
    }
}
@media screen and (max-width: 429px) {
    div.main-div {
        flex-direction: column;
    }
    .login-left {
       display: none;
    }
    .login-right {
        height: 70%;
        width: 96%;
    }
    .right-info p {
        padding: 0 30px;
        margin: 20px 0px 6px 0px;
        width: 100%;
        font-size: 14px;
    }
    .login-style {
        margin-top: 1rem;
    }
   
}

    


