* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.carousel {
    background: #EEE;
    margin-top: 10px;
    margin-bottom: 25px;
}

.carousel-cell {
    width: 70%;

    border-radius: 5px;
    counter-increment: carousel-cell;
}

.caro {
    height: 200px;
    width: 100%;
}

/*--------------------------------------------- Cart Page ---------------------------------------------------------*/
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 6rem;
    margin-top: 6rem;
    box-shadow: 3px 3px 6px whitesmoke;
    padding: 6px;
}

.sub-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-cart img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.pro-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-count {
    margin-left: .5rem;
    border: 1px solid gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.remove-cart-item {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

/* responsive design for mobile screens */
@media screen and (max-width: 541px) {
    .carousel-cell {
        height: 115px;
        touch-action: pan-y;
    }

    .caro {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }

    .filters {
        width: 23%;
        margin-left: 6px;
        box-shadow: 0px 1px 10px 4px lightgray;
        margin-top: 6px;
    }

    .filters h5 {
        font-size: 8px;
        margin: 7px 0px 0px 7px;
    }
  
}
